################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowShot/bin/Debug
/WindowShot/obj/Debug
/WindowShot/publish
